@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background only for login page */
body.login-background {
    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') no-repeat center center/cover;
    animation: zoom 20s ease-in-out infinite alternate;
}

/* Background zoom animation */
@keyframes zoom {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 110%;
    }
}